apiVersion: batch/v1
kind: Job
metadata:
  name: ingo-process-app-demo-1
spec:
  template:
    metadata:
      labels:
        app: ingo-process-app-demo-1
    spec:
      restartPolicy: Never
      containers:
        - name: ingo-process-app-demo-1
          image: 655394773887.dkr.ecr.eu-west-2.amazonaws.com/ingo-process-app-demo-1:4a52173047728ab965f36de9a4d4524555669329
          imagePullPolicy: Always
          env:
            - name: CAMUNDA_CLIENT_AUTH_METHOD
              value: "oidc"
            - name: CAMUNDA_CLIENT_AUTH_CLIENTID
              value: "camunda-orchestration"
            - name: CAMUNDA_CLIENT_AUTH_CLIENTSECRET
              valueFrom: 
                secretKeyRef: 
                  name: keycloak-client-secrets
                  key: camunda-orchestration-secret
            - name: CAMUNDA_CLIENT_AUTH_TOKENURL
              value: "http://keycloak:18080/realms/ingo-keycloak-as-oidc/protocol/openid-connect/token"
            - name: CAMUNDA_CLIENT_AUTH_AUDIENCE
              value: "camunda-orchestration"
            - name: CAMUNDA_CLIENT_GRPCADDRESS
              value: "http://camunda-zeebe-gateway:26500"
            - name: CAMUNDA_CLIENT_RESTADDRESS
              value: "http://camunda-zeebe-gateway:8080"